article{
    margin-bottom: 100px;
    margin-top: 50px;
}


input{
    font-size: 12px !important;
}


.form-control{
    padding:5px !important;
}

main{
    
    min-height: 700px;
}

.calculate:hover{
    cursor: pointer;
}

.calculate{
    border-bottom: 1px solid pink;
}

span{
    padding: 2px !important;
}