article{
    margin-bottom: 100px;
    margin-top: 50px;
}


input{
    font-size: 12px !important;
}


.form-control{
    padding:5px !important;
}

main{
    
    min-height: 700px;
}

.calculate:hover{
    cursor: pointer;
}

.calculate{
    border-bottom: 1px solid pink;
}

span{
    padding: 2px !important;
}

body{
    background-image: url(/img/i007652.jpg);
    background-repeat: no-repeat;
    background-size: 100% 62%; 
    padding: 20px;
    background-position: center
    
}

article{
    background: rgba(38, 38, 38, 0.7);
    border-radius: 25px;
    width: 850px;

}

.article_home{
    padding: 10px;
    
}
.article_page2{
        
}



.masthead{
    display: block;
}

.inner h3{
    font-family: 'Yellowtail', cursive;
    font-size: 45px;
    border-bottom: solid 1px white;
}

h1{
    
    font-size: 27px !important;
    padding: 10px;
}


@media (max-width: 863px) { 
    .article_page3 tr{
        
        font-size: 12px;
    
    }    
}


@media (max-width: 832px) { 

    article{
        width: 100%;
    }
        
}

@media (max-width: 767px) { 

    body{
        background-position: top;  
        background-size: 100%;
        background-attachment: fixed;
    }
    
    .article_page3 tr{
        
        font-size: 11px;
    
    }
        
}

@media (max-width: 650px) { 
    .article_page3 tr{
        
        font-size: 10px;
    
    }    
}

@media (max-width: 600px) { 
    .article_page3 tr{
        
        font-size: 9px;
    
    }    
}

@media (max-width: 556px) { 
    .article_page3 tr{
        
        font-size: 8px;
    
    }    
}



@media (max-width: 489px) { 

    .article_page2 tr{
        font-size: 12px !important;
    }
}

@media (max-width: 451px) { 

    .article_page2 tr{
        font-size: 11px !important;
    }
    
    body{
        background-size: 450px;
        min-width: 450px;
        background-attachment:fixed;

    }
}


